$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: Droid Serif,Georgia,serif;
  line-height: 1.8;
  font-weight: 400;
  color:#999;
  background:#161616;
  padding: 0;
}

a {
  color: #c0a062;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-toggle {
  border:1px solid #c0a062;
}

.navbar-nav > li > a {
  &:hover {
    background:none;
    border-bottom:1px solid #c0a062;
    color: #ffcc4e;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #c0a062;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.intro-container {
  border-bottom:1px solid #c0a062;
}

.profile-pie {
  background-repeat: no-repeat;
  background-image: url('../images/justinhu_avatar.png');
  background-position: center;
}

.aboutme {

}

.intro {
  h3 {
    color: #c0a062!important;
  }
  strong {
    color: #ffffff;
  }
}
/* D3 */

.axis path,
.axis line {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

.x.axis path {
 display: none;
}

.line {
 fill: none;
 stroke: steelblue;
 stroke-width: 1.5px;
}

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

.chart{
  div {
    background-color: #c0a062;
    color: #161616;
    margin-bottom:5px;
    height: 15px;
    &:hover{
      background-color: #ffcc4e;
    }
  }
}

rect:hover{
	fill: #ffcc4e;
}

g.arc {
  path {
    &:hover {
	    fill: #ffcc4e!important;
    }
  }
}

g.node {
  circle {
    fill: #c0a062;
    &:hover {
      fill: #ffcc4e!important;
    }
  }
}
.project-lists {
  overflow:hidden;
}

.masonry-brick {
  display: none;
  &.loaded {
    display: block;
  }
}

.each-project {
  text-align: center;
  margin: 1em 0;
  float: left;
  display: inline;

  a {
    position: relative;
    display:block;
    overflow: hidden;
  }

  .project-thumb {
    min-height: 180px;
  }
}

  .each-project {
    .mask{
      display:block;
      position: absolute;
      left:100%;
      top:0;
      background: #c0a062;
      width:100%;
      height:100%;
      text-align:center;
      -webkit-transition: left,0.3s;
      -moz-transition: left,0.3s;
      -o-transition: left,0.3s;
      -ms-transition: left,0.3s;
      transition: left,0.3s;

    }
  }


.each-project {
  .mask{
    .tc {
      width: 100%;
      height: 100%;
      display: tables;
      .info {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding:0 1em;
        .title {
          border: 1px solid #161616;
          padding:0.25em;
          vertical-align: middle;
          text-align: center;
          color: #161616;
          font-size: 1.2em;
          line-height: 1.2em;
          margin:0;
        }
      }
    }
  }
}

.spinner {
  display:block;
  background: url(../images/spinner.svg) no-repeat center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}


.no-touch .each-project .mask{
  display:block;
  position:absolute;
  left:100%;
  top:0;
  background:#d44950;
  width:100%;
  height:100%;
  text-align:center;
  -webkit-transition:left,0.3s;
  -moz-transition:left,0.3s;
  -o-transition:left,0.3s;
  transition:left,0.3s
}
.each-project:hover .mask{left:0}

.footer {
  margin: 2em 0;

}

.form-control {
  background-color:#161616;
}
