<div class="container">
  <div class="col-sm-8" class="copyright">
    <p>© Developed by Justin Hu D&D with AngularJS 1.x</p>
  </div>
  <div class="col-sm-4" class="social">
    <ul class="nav navbar-nav pull-right" id="footer-menu" navmenu="active">
      <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a href="http://au.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    </ul>
  </div>
</div>
