<div class="jumbotron">
  <h1>JUSTIN HU - FullStack</h1>
  <p class="lead">
    <img src="images/justinhu_avatar.png" alt="I'm Justin Hu"><br>
    Always a pleasure building your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Take me away</a></p>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">row1 col1</div>
  <div class="col-md-8 col-sm-8 col-xs-12">row1 col2</div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">row2 col1</div>
  <div class="col-md-6 col-sm-6 col-xs-12">row2 col2</div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">row3 col1</div>
  <div class="col-md-4 col-sm-4 col-xs-12">row3 col2</div>
  <div class="col-md-4 col-sm-4 col-xs-12">row3 col3</div>
</div>
