<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">row1 col1
    <pie-chart chart-data="pieChartData"></pie-chart>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">row1 col2
    <bars-chart chart-data="frontEndData"></bars-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">row2 col1
        <bars-chart chart-data="backEndData"></bars-chart>
</div>
  <div class="col-md-6 col-sm-6 col-xs-12">row2 col2
    <bars-chart chart-data="databaseData"></bars-chart>
  </div>

</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">row3 col1
    <linear-chart chart-data="salesData"></linear-chart>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">row3 col2
    <bubble-chart></bubble-chart>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">row3 col3</div>
</div>
