<div class="row intro-container">
  <div class="col-md-5">
    <pie-chart chart-data="pieChartData"></pie-chart>
  </div>
  <div class="col-md-7 intro">
    <h3>Hi people, welcome to this portfolio site of a <strong>node.js fullstack developer</strong>.</h3>
    <p>With more than <strong>5 years</strong> of experience in web development, I have worked on a great number of awesome projects with
      most mainstream technologies such as <strong>ASP.NET</strong>, <strong>PHP</strong>, <strong>CodeIgniter</strong>, <strong>Sitecore</strong>,<strong>MySQL</strong>.
       Recently, I have developed a strong interest in builting web apps with <strong>Angular</strong> and <strong>ReactJS</strong>. Mobile App with <strong>Ionic.js</strong> is also under my radar too.</p>
    <p>Feel free to check out the whole site. I am just available for hire now. What are you waiting for !</p>
    <div class="row">
    <ul class="aboutme col-md-6 col-sm-12">
      <li>
        <span class="title"><i class="fa fa-user"></i> Name</span>
      <span class="value">Justin Hu</span>
      </li>
      <li>
        <span class="title"><i class="fa fa-calendar-o"></i> Age</span>
        <span class="value">31</span>
      </li>
      <li>
        <span class="title"><i class="fa fa-file-text"></i> Resume</span>
      <span class="value"><a href="#">Download</a></span>
      </li>
    </ul>
    <ul class="aboutme col-md-6 col-sm-12">
      <li>
        <span class="title"><i class="fa fa-envelope"></i> Email</span>
        <span class="value"><a href="mailto:justinhu-cg@msn.com" >justinhu-cg@msn.com</a></span>
      </li>
      <li>
        <span class="title"><i class="fa fa-phone"></i> Phone</span>
      <span class="value">(+61)415 778 001</span>
      </li>
      <li>
        <span class="title"><i class="fa fa-map-marker"></i> Location</span>
        <span class="value">Brisbane, Australia</span>
      </li>
    </ul>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-5 col-xs-12">
    <h3>Frontend Skill Level</h3>
    <bars-chart chart-data="frontEndData"></bars-chart>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <h3>Backend Skill Level</h3>
    <bars-chart chart-data="backEndData"></bars-chart>
  </div>
  <div class="col-md-4 col-sm-3 col-xs-12">
    <h3>Database Skill Level</h3>
    <bars-chart chart-data="databaseData"></bars-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <h3>Mobile Dev Skills</h3>
    <bars-chart chart-data="databaseData"></bars-chart>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <h3>Cloud Dev Skills</h3>
    <bars-chart chart-data="databaseData"></bars-chart>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <h3>Supportive Skills</h3>
    <bars-chart chart-data="databaseData"></bars-chart>
  </div>
</div>
<div class="row">
  <h3>Skill Map</h3>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <bubble-chart></bubble-chart>
  </div>
</div>
