<div id="main">
  <div class="conatainer projects" id="main">
    <div class="row">
      <menu class="col-sm-12" id="filtergroup">
        <b>Skill Filter</b>
        <div class="buttongroup" onclick="">
          <label for="skill-angular">
						<input type="checkbox"  data-ng-model="search" ng-true-value="'AngularJS 1.X'" ng-false-value="" id="skill-angular"/>
						<span>AngularJS</span>
					</label>
          <label for="skill-php">
						<input type="checkbox"  data-ng-model="search" ng-true-value="'PHP'" ng-false-value="" id="skill-php"/>
						<span>PHP</span>
					</label>
					<label for="skill-jquery">
						<input type="checkbox"  data-ng-model="search" ng-true-value="'jQuery'" ng-false-value="" id="skill-jquery"/>
						<span>jQuery</span>
					</label>
					<label for="skill-ASP.NET">
						<input type="checkbox"  data-ng-model="search" ng-true-value="'ASP.NET'" ng-false-value="" id="skill-ASP.NET"/>
						<span>ASP.NET</span>
					</label>
          <label for="skill-htmlcss">
						<input type="checkbox"  data-ng-model="search" ng-true-value="'HTML & CSS'" ng-false-value="" id="skill-htmlcss" />
						<span>HTML & CSS</span>
					</label>
        </div>
      </menu>
    </div>
    <div class="row project-lists" masonry preserve-order>
      <div ng-repeat="project in projectlist | skillfilter:search | orderBy:'-id'" class="each-project col-sm-4 col-xs-6  masonry-brick">
        <a ng-href="#/projects/{{ project.slug }}" ng-click="scrollTo('projectslider', $event, $index);">
          <img ng-src="{{project.image}}" alt="{{project.title}}" title="{{project.title}}" class="img-responsive project-thumb fadein" data-img-preload/>
          <div class="mask">
            <div class="tc">
              <div class="info">
                <h3 class="title">{{ project.title }}</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
